[Desktop Entry]
Name=Acestream URL Handler
Comment=Handle URL scheme acestream://
Exec=/usr/local/bin/acestream-handler %U
Icon=vlc
Type=Application
NoDisplay=true
Categories=AudioVideo;Player;
MimeType=x-scheme-handler/acestream;
