[Desktop Entry]
Type=Application
Terminal=false
MimeType=text/x-matlab
Exec=/home/toni/matlab/launch_matlab.sh
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
